.contact{
    color:#00ff00;
    border:5px solid royalblue;
     padding:10px 10px 10px 10px ;
     
  
}
.body{
    /* fontstyle ,fontvarient .font weight */
    font:  12pt/14pt Arial sans-serif;
    text-align: justify;
  
}
.techtable{ width: 80%;
    margin: 50px 20px 20px 50px;
    text-align: center;

}
/* selector can chose td tags in tr tags in techtable tag in table tag   */
table #techtable, tr, td{
    border:1px solid royalblue;
    width:25%;
    
    border-collapse: collapse;
}
.border{
 border:5px royalblue;
    margin:0px;
    padding:10px 0px 10px 10px
    
}
#SQL{
    
}
